In [1]:
import pandas as pd
import numpy as np
from Univariate import Univariate

In [2]:
dataset=pd.read_csv("kidney_disease.csv")

In [3]:
dataset=dataset.drop(labels= 'id',axis=1)

In [4]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
age               391 non-null float64
bp                388 non-null float64
sg                353 non-null float64
al                354 non-null float64
su                351 non-null float64
rbc               248 non-null object
pc                335 non-null object
pcc               396 non-null object
ba                396 non-null object
bgr               356 non-null float64
bu                381 non-null float64
sc                383 non-null float64
sod               313 non-null float64
pot               312 non-null float64
hemo              348 non-null float64
pcv               330 non-null object
wc                295 non-null object
rc                270 non-null object
htn               398 non-null object
dm                398 non-null object
cad               398 non-null object
appet             399 non-null object
pe                399 non-null object
ane               399 non-null object
classification    400 non-null object
dtypes: float64(11), object(14)
memory usage: 78.2+ KB

In [6]:
dataset.isnull().sum()

age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [7]:
quan,qual=Univariate.quanQual(dataset)

In [8]:
quan

['age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo']

In [9]:
qual

['rbc',
 'pc',
 'pcc',
 'ba',
 'pcv',
 'wc',
 'rc',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane',
 'classification']

In [10]:
from sklearn.impute import SimpleImputer

#for numerical data (quan)

imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
imp_mean.fit(dataset[quan])
numericalDataSet = imp_mean.transform(dataset[quan])
numericalDataSet = pd.DataFrame(numericalDataSet, columns =quan)

# for categorical Data (qual)

imp_most_frequent = SimpleImputer(strategy='most_frequent')
categoricalDataSet = imp_most_frequent.fit_transform(dataset[qual])
categoricalDataSet = pd.DataFrame(categoricalDataSet, columns =qual)

In [11]:
numericalDataSet

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
0,48.0,80.0,1.020,1.0,0.0,121.000000,36.0,1.2,137.528754,4.627244,15.4
1,7.0,50.0,1.020,4.0,0.0,148.036517,18.0,0.8,137.528754,4.627244,11.3
2,62.0,80.0,1.010,2.0,3.0,423.000000,53.0,1.8,137.528754,4.627244,9.6
3,48.0,70.0,1.005,4.0,0.0,117.000000,56.0,3.8,111.000000,2.500000,11.2
4,51.0,80.0,1.010,2.0,0.0,106.000000,26.0,1.4,137.528754,4.627244,11.6
...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,140.000000,49.0,0.5,150.000000,4.900000,15.7
396,42.0,70.0,1.025,0.0,0.0,75.000000,31.0,1.2,141.000000,3.500000,16.5
397,12.0,80.0,1.020,0.0,0.0,100.000000,26.0,0.6,137.000000,4.400000,15.8
398,17.0,60.0,1.025,0.0,0.0,114.000000,50.0,1.0,135.000000,4.900000,14.2
399,58.0,80.0,1.025,0.0,0.0,131.000000,18.0,1.1,141.000000,3.500000,15.8

In [12]:
categoricalDataSet

,rbc,pc,pcc,ba,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,normal,normal,notpresent,notpresent,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,normal,normal,notpresent,notpresent,38,6000,5.2,no,no,no,good,no,no,ckd
2,normal,normal,notpresent,notpresent,31,7500,5.2,no,yes,no,poor,no,yes,ckd
3,normal,abnormal,present,notpresent,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,normal,normal,notpresent,notpresent,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,normal,normal,notpresent,notpresent,47,6700,4.9,no,no,no,good,no,no,notckd
396,normal,normal,notpresent,notpresent,54,7800,6.2,no,no,no,good,no,no,notckd
397,normal,normal,notpresent,notpresent,49,6600,5.4,no,no,no,good,no,no,notckd
398,normal,normal,notpresent,notpresent,51,7200,5.9,no,no,no,good,no,no,notckd
399,normal,normal,notpresent,notpresent,53,6800,6.1,no,no,no,good,no,no,notckd

In [13]:
# concat the numerical DataSet and categorical DataSet
dataset = pd.concat([numericalDataSet, categoricalDataSet], axis=1, join='inner')

In [14]:
dataset

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,121.000000,36.0,1.2,137.528754,4.627244,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,148.036517,18.0,0.8,137.528754,4.627244,...,38,6000,5.2,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,423.000000,53.0,1.8,137.528754,4.627244,...,31,7500,5.2,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,117.000000,56.0,3.8,111.000000,2.500000,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,106.000000,26.0,1.4,137.528754,4.627244,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,140.000000,49.0,0.5,150.000000,4.900000,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,75.000000,31.0,1.2,141.000000,3.500000,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,12.0,80.0,1.020,0.0,0.0,100.000000,26.0,0.6,137.000000,4.400000,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,114.000000,50.0,1.0,135.000000,4.900000,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,131.000000,18.0,1.1,141.000000,3.500000,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [15]:
dataset.isnull().sum()

age               0
bp                0
sg                0
al                0
su                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
rbc               0
pc                0
pcc               0
ba                0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [16]:
# check the mean, median, mode, percentile, IQR, skewness, kurtosis
desprictive = Univariate.Univariate(dataset,quan)

In [17]:
desprictive

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
Mean,51.4834,76.4691,1.01741,1.01695,0.450142,148.037,57.4257,3.07245,137.529,4.62724,12.5264
Median,54,78.2345,1.01741,1,0,126,44,1.4,137.529,4.62724,12.5264
Mode,60,80,1.02,0,0,148.037,57.4257,1.2,137.529,4.62724,12.5264
Q1:25%,42,70,1.015,0,0,101,27,0.9,135,4,10.875
Q2:50%,54,78.2345,1.01741,1,0,126,44,1.4,137.529,4.62724,12.5264
Q3:75%,64,80,1.02,2,0.450142,150,61.75,3.07245,141,4.8,14.625
99%,80.01,110,1.025,4,4,425.22,235.06,18.159,150,6.501,17.601
Q4:100%,90,180,1.025,5,5,490,391,76,163,47,17.8
IQR,22,10,0.005,2,0.450142,49,34.75,2.17245,6,0.8,3.75
1.5rule,33,15,0.0075,3,0.675214,73.5,52.125,3.25868,9,1.2,5.625
Lesser,9,55,1.0075,-3,-0.675214,27.5,-25.125,-2.35868,126,2.8,5.25
Greater,97,95,1.0275,5,1.12536,223.5,113.875,6.33114,150,6,20.25
Min,2,50,1.005,0,0,22,1.5,0.4,4.5,2.5,3.1
Max,90,180,1.025,5,5,490,391,76,163,47,17.8
kurtosis,0.128375,9.00304,-0.894378,-0.0419263,6.17054,5.11198,9.95512,82.9116,109.762,182.9,-0.0917484
skew,-0.675848,1.62988,-0.183473,1.06051,2.62927,2.13042,2.69875,7.6731,-7.90109,13.1012,-0.359057

In [18]:
# check the lesser outlier and greater outlier
lesser, greater = Univariate.CheckOutliers(desprictive,quan)
print(lesser)
print(greater)

['age', 'bp', 'sg', 'bgr', 'sod', 'pot', 'hemo']
['bp', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot']

In [19]:
# update the value for outlier and change it
desprictive,lesser,greater=Univariate.ReplaceOutliers(desprictive,lesser,greater,dataset,quan)

D:\HOPE\AI\Data science\Univariate\QuanQual\Univariate.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[coloumnName][dataset[coloumnName]<desprictive[coloumnName]["Lesser"]]=desprictive[coloumnName]["Lesser"]
D:\HOPE\AI\Data science\Univariate\QuanQual\Univariate.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[coloumnName][dataset[coloumnName]>desprictive[coloumnName]["Greater"]]=desprictive[coloumnName]["Greater"]

In [20]:
# after remove the outlier for lesser and greater
desprictive

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
Mean,51.5684,75.7191,1.01745,1.01695,0.222685,136.985,51.0104,2.25413,138.115,4.43274,12.5329
Median,54,78.2345,1.01741,1,0,126,44,1.4,137.529,4.62724,12.5264
Mode,60,80,1.02,0,0,223.5,113.875,6.33114,137.529,4.62724,12.5264
Q1:25%,42,70,1.015,0,0,101,27,0.9,135,4,10.875
Q2:50%,54,78.2345,1.01741,1,0,126,44,1.4,137.529,4.62724,12.5264
Q3:75%,64,80,1.02,2,0.450142,150,61.75,3.07245,141,4.8,14.625
99%,80.01,95,1.025,4,1.12536,223.5,113.875,6.33114,150,6,17.601
Q4:100%,90,95,1.025,5,1.12536,223.5,113.875,6.33114,150,6,17.8
IQR,22,10,0.005,2,0.450142,49,34.75,2.17245,6,0.8,3.75
1.5rule,33,15,0.0075,3,0.675214,73.5,52.125,3.25868,9,1.2,5.625
Lesser,9,55,1.0075,-3,-0.675214,27.5,-25.125,-2.35868,126,2.8,5.25
Greater,97,95,1.0275,5,1.12536,223.5,113.875,6.33114,150,6,20.25
Min,9,55,1.0075,0,0,27.5,1.5,0.4,126,2.8,5.25
Max,90,95,1.025,5,1.12536,223.5,113.875,6.33114,150,6,17.8
kurtosis,-0.082569,-0.914151,-1.06171,-0.0419263,0.695245,-0.515634,-0.230162,0.243172,0.454148,0.110827,-0.283622
skew,-0.609007,0.0854,-0.105754,1.06051,1.52495,0.722635,0.93068,1.24106,0.015178,-0.0754277,-0.306395

In [21]:
lesser

[]

In [22]:
greater

[]

In [23]:
## after preprocessing data set
dataset

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.0200,1.0,0.000000,121.000000,36.0,1.2,137.528754,4.627244,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,9.0,55.0,1.0200,4.0,0.000000,148.036517,18.0,0.8,137.528754,4.627244,...,38,6000,5.2,no,no,no,good,no,no,ckd
2,62.0,80.0,1.0100,2.0,1.125356,223.500000,53.0,1.8,137.528754,4.627244,...,31,7500,5.2,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.0075,4.0,0.000000,117.000000,56.0,3.8,126.000000,2.800000,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.0100,2.0,0.000000,106.000000,26.0,1.4,137.528754,4.627244,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.0200,0.0,0.000000,140.000000,49.0,0.5,150.000000,4.900000,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,42.0,70.0,1.0250,0.0,0.000000,75.000000,31.0,1.2,141.000000,3.500000,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,12.0,80.0,1.0200,0.0,0.000000,100.000000,26.0,0.6,137.000000,4.400000,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,17.0,60.0,1.0250,0.0,0.000000,114.000000,50.0,1.0,135.000000,4.900000,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,58.0,80.0,1.0250,0.0,0.000000,131.000000,18.0,1.1,141.000000,3.500000,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [24]:
# save the file 
dataset.to_csv('kidney_disease.csv', index=False,header=True)